<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Problema3.My.MySettings.PESCAConnectionString" connectionString="Data Source=HOVLAP\SQLEXPRESS;Initial Catalog=PESCA;Persist Security Info=True;User ID=sa;Password=sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>