IF OBJECT_ID('SP_LISTACLIENTES') IS NOT NULL
DROP PROC SP_LISTACLIENTES
GO
CREATE PROCEDURE SP_LISTACLIENTES
AS
SELECT * 
FROM [dbo].[CLIENTE]
GO


IF OBJECT_ID('SP_LISTADISTRITOS') IS NOT NULL
DROP PROC SP_LISTADISTRITOS
GO
CREATE PROCEDURE SP_LISTADISTRITOS
AS
SELECT  *
FROM [dbo].[DISTRITO]
GO


IF OBJECT_ID('ULTIMOCLIENTE') IS NOT NULL
DROP PROC ULTIMOCLIENTE
GO
CREATE PROCEDURE ULTIMOCLIENTE
AS
SELECT TOP 1 (CONVERT(INT,SUBSTRING(COD_CLI,3,5))+1) FROM [dbo].[CLIENTE]
ORDER BY COD_CLI DESC
GO

EXEC ULTIMOCLIENTE
GO


IF OBJECT_ID('SP_INSERTACLIENTE') IS NOT NULL
DROP PROC SP_INSERTACLIENTE
GO
CREATE PROCEDURE SP_INSERTACLIENTE(
@COD_CLI CHAR(6),
@NOMBRES VARCHAR(50),
@APE_PATER_CLI VARCHAR(50),
@APE_MATER_CLI VARCHAR(50),
@DIRECCION_CLI VARCHAR(50),
@TELEFONO_CLI CHAR(7),
@COD_DIST CHAR(3),
@CORREO_E VARCHAR(50))
AS
INSERT INTO [dbo].[CLIENTE]
VALUES(@COD_CLI,
@NOMBRES,
@APE_PATER_CLI,
@APE_MATER_CLI,
@DIRECCION_CLI,
@TELEFONO_CLI,
@COD_DIST,
@CORREO_E)
GO


IF OBJECT_ID('SP_ACTUALIZACLIENTE') IS NOT NULL
DROP PROC SP_ACTUALIZACLIENTE
GO
CREATE PROCEDURE SP_ACTUALIZACLIENTE(
@COD_CLI CHAR(6),
@NOMBRES VARCHAR(50),
@APE_PATER_CLI VARCHAR(50),
@APE_MATER_CLI VARCHAR(50),
@DIRECCION_CLI VARCHAR(50),
@TELEFONO_CLI CHAR(7),
@COD_DIST CHAR(3),
@CORREO_E VARCHAR(50))
AS
UPDATE [dbo].[CLIENTE]
SET 
[NOMBRES]=@NOMBRES,
[APE_PATER_CLI]=@APE_PATER_CLI,
[APE_MATER_CLI]=@APE_MATER_CLI,
[DIRECCION_CLI]=@DIRECCION_CLI,
[TELEFONO_CLI]=@TELEFONO_CLI,
[COD_DIST]=@COD_DIST,
[CORREO_E]=@CORREO_E
WHERE [COD_CLI]=@COD_CLI
GO